@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 260 82% 76%;
    --primary-foreground: 260 82% 9.8%;
    --secondary: 260 80% 96.1%;
    --secondary-foreground: 260 80% 9.8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20% 45.1%;
    --accent: 260 80% 90%;
    --accent-foreground: 260 80% 9.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 260 82% 76%;
    --chart-1: 260 82% 76%;
    --chart-2: 260 80% 80%;
    --chart-3: 197 37% 74%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 260 90% 98%;
    --sidebar-foreground: 260 90% 10%;
    --sidebar-primary: 260 82% 76%;
    --sidebar-primary-foreground: 260 82% 9.8%;
    --sidebar-accent: 260 82% 92%;
    --sidebar-accent-foreground: 260 82% 9.8%;
    --sidebar-border: 260 80% 90%;
    --sidebar-ring: 260 82% 76%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 240 4.8% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 260 92% 80%;
    --primary-foreground: 260 92% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 215 20% 65.1%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 260 92% 80%;
    --chart-1: 260 92% 80%;
    --chart-2: 260 80% 70%;
    --chart-3: 200 80% 70%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 4.8% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 260 92% 80%;
    --sidebar-primary-foreground: 260 92% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 260 92% 80%;
  }

  .green {
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --ring: 142.1 76.2% 36.3%;
  }
  .dark-green {
    --primary: 142.1 70.2% 46.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --ring: 142.1 70.2% 46.3%;
  }
  .blue {
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --ring: 221.2 83.2% 53.3%;
  }
  .dark-blue {
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --ring: 221.2 83.2% 53.3%;
  }
  .orange {
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 210 40% 98%;
    --ring: 24.6 95% 53.1%;
  }
  .dark-orange {
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 210 40% 98%;
    --ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(to right top, #f3e8ff, #e5e9ff, #d8ecff, #d2f0ff, #d1f3fa);
  }
  .dark body {
    background-image: linear-gradient(to right top, #1e1b26, #211e2f, #242238, #262642, #272a4c);
  }
  .PhoneInputInput {
    @apply flex h-10 w-full rounded-md border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm;
    border-width: 0px;
  }
  .PhoneInputCountry {
    @apply m-2;
  }
}
